{{ $id := .Get "id" }}
{{ $title := .Get "title" | default "Google Drive Documents Folder" }}
{{ $view := .Get "view" | default "list" }} 

<div class="gdrive-folder-container">
  <div class="gdrive-folder-header">
    <span class="folder-title">{{ $title }}</span>
    <a href="https://drive.google.com/drive/folders/{{ $id }}?usp=sharing" 
       target="_blank" 
       rel="noopener noreferrer" 
       class="folder-open-btn">
      Open in Google Drive ↗
    </a>
  </div>

  <div class="gdrive-folder-frame-wrap">
    <!-- Google Drive embedded folder endpoint -->
    <iframe 
      src="https://drive.google.com/embeddedfolderview?id={{ $id }}#{{ $view }}" 
      title="{{ $title }}"
      allow="autoplay"
      loading="lazy">
    </iframe>
  </div>
</div>