---
layout: page
# Layout override to cast tags to strings before running slugify
---

{% include lang.html %}

{% assign tags_list = '' | split: '' %}

{% for post in site.posts %}
  {% for tag in post.tags %}
    {% assign tag_str = tag | append: '' | strip %}
    {% if tag_str != '' %}
      {% unless tags_list contains tag_str %}
        {% assign tags_list = tags_list | push: tag_str %}
      {% endunless %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% assign tags_list = tags_list | sort_natural %}

<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% for tag in tags_list %}
    {% assign tag_str = tag | append: '' %}
    {% assign tag_slug = tag_str | slugify %}
    {% assign tag_posts = site.tags[tag] %}
    <a href="{{ tag_slug | prepend: '/tags/' | relative_url }}/" class="tag">
      {{ tag_str }}<span class="text-muted">({{ tag_posts.size }})</span>
    </a>
  {% endfor %}
</div>
